@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
.cont {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    font-family: 'Ubuntu', sans-serif;
}

.up {
    display: flex;
    justify-content: space-between; /* Ensure labels and dropdown are spaced evenly */
    align-items: center;
    width: 100%;
    padding: 10px 0;
}

.labels {
    display: flex;
    gap: 20px;
    width: 60%;
    display: flex;
    justify-content: space-between;
    height: 100%; /* Adjusts space between each label */
}

.up_count {
    background-image: var(--gradient-background);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 12px;
    color: var(--primary-color-text);
    text-shadow: var(--box-shadow-color) 0px 5px 15px;
    width: 150px;
}

.dropdown {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 100%;
    gap: 10px; /* Space between the Select and Button */
}


.down {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 90%;
}

.down_up {
    display: flex;
    width: 100%;
    height: 50%;
}

.down_down {
    display: flex;
    width: 100%;
    height: 50%;
}

.up_count {
    background-image: var(--gradient-background);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 12px;
    color: var(--primary-color-text);
    text-shadow: var(--box-shadow-color) 0px 5px 15px;
    width: 150px;
}


.up_count2 {
    background-image: var(--gradient-background);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.up_count3 {
    background-image: var(--gradient-background);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}






.down_upchild {
    width: 50%;
}



.down_downchild1 {
    display: flex;
    width: 50%;
    height: 100%;
}

.down_downchild2 {
    display: flex;
    width: 50%;
    justify-content: center;
    align-content: center;
    height: 100%;
}

.cont_preloader {
    display: grid;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: var(--secondary-color-background);
}

.cont_preloader_load {
    filter: invert(1);
}